<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="fontawesome/js/fontawesome.min.js"></script>
 <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="images/logo.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="active" href="/">Home</a></li> 
          <li><a class="nav1"href="/holzpellets-kaufen">Holzpellets Kaufen</a></li>
          <li><a href="/sackware">Sackware</a></li>
          <li><a href="/qualitat">Qualit&auml;t</a></li>
          <li><a href="/lieferung">Lieferung</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
          <li><i class="fa fa-phone" aria-hidden="true"></i></li><p class="number">+49 176 83864868 (WhatsApp)</p>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
      <div class="intro"> 
          <div class="row">
              <div class="col-sm-2"></div>
                    <div class="col-sm-8">
          <p><h2 class="introH">Beste Pelletspreise und nat&uuml;rliche Rohstoffe</h2></p>
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
          <p class="intro-body">Die Energiequelle der Zukunft f&uuml;r Privathaushalte sorgt gleichzeitig f&uuml;r saubere Luft und ein harmonisches Landschaftsbild. Holzpellets bestehen komplett aus unbehandelten Stoffen aus der Natur unserer W&auml;lder. Sie enthalten keine k&uuml;nstlichen Bestandteile wie beispielsweise Leim oder andere Bindemittel. Sie setzen somit keine sch&auml;dlichen Emissionen frei und stehen f&uuml;r eine nat&uuml;rliche W&auml;rme in Ihrem behaglichen Heim. Deshalb brauchen Sie weder sch&auml;dliche Auswirkungen auf Ihre Gesundheit noch hohe Kosten zu f&uuml;rchten. So wie schon unsere Vorfahren die W&auml;rme eines lebendigen Feuers genossen haben, wird auch in Zukunft die W&auml;rme wieder aus der Natur kommen.</p>
        </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-2"></div>
            </div>
        </div>
      </div>
  </div>
  
  <div class="container-fluid">
      <table>
          <tr>
       
              <td colspan="1">
                  <img src="images/img1.png" id="item1">
                  <p><h3>Ekogran / ENplus-A1</h3></p>
                  <p>150,00 &euro; / Palette (65 x 15 = 975 kg);</p>
                  <p><a href="/kontakt" class="btn btn-success btn-lg btn6">Zu dem Produkt</a></p>
              </td>
          
            <td>
                <img src="images/img2.jpg" id="item2">
                <p><h3>Rezult / ENplus-A1</h3></p>
                <p>170,00 &euro; / Palette (65 x 15 = 975 kg);</p>
                
                <p><a href="/kontakt" class="btn btn-success btn-lg btn6">Zu dem Produkt</a></p>
            </td>
            <td>
                <img src="images/img3.jpg" id="item3">
                <p><h3>Energy / ENplus-A1</h3></p>
                <p>190,00 &euro; / Palette (65 x 15 = 975 kg);</p>
              
                <p><a href="/kontakt" class="btn btn-success btn-lg btn6">Zu dem Produkt</a></p>
            </td>
        </tr>
        <tr>
            <td>
                <img src="images/img4.jpg" id="item4">
                <p><h3>Excellent / ENplus-A1</h3></p>
                <p>210,00 &euro; / Palette (65 x 15 = 975 kg);</p>
          
                <p><a href="/kontakt" class="btn btn-success btn-lg btn6">Zu dem Produkt</a></p>
            </td>
            <td>
                <img src="images/img5.jpg" id="item5">
                <p><h3>Premium / ENplus-A1</h3></p>
                <p>240,00 &euro; / Palette (65 x 15 = 1125 kg);</p>
               
                <p><a href="/kontakt" class="btn btn-success btn-lg btn6">Zu dem Produkt</a></p>
            </td>
        </tr>
      </table>
  </div>

  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-6 product-info">
              <p>Holzpellets sind aber nicht gleich Holzpellets. Wie bei den meisten Produktgruppen gibt es auch in diesem Bereich gro&szlig;e Unterschiede in der Qualit&auml;t. Wenn Sie Holzpellets online bestellen, achten Sie vor Abschluss des Kaufs unbedingt auf einen niedrigen Aschegehalt und einen niedrigen Feuchtigkeitsgehalt! Der Brennwert muss hoch sein. Es gibt, was den Brennwert und die Alltagstauglichkeit betrifft, nichts Besseres als Pellets aus Holz.</p>
              <p>Rox pellets bietet die besten Preise f&uuml;r Holzpellets in S&auml;cken. Sie k&ouml;nnen Pellets in S&auml;cken in unserem Onlineshop oder in unserem Lager kaufen. Unsere Mitarbeiter bieten Ihnen die besten Preise, eine bequeme Zahlungsoption f&uuml;r Sie und die Lieferung von Pellets zu einem f&uuml;r Sie g&uuml;nstigen Zeitpunkt.Unsere Stammkunden k&ouml;nnen mit zus&auml;tzlichen Rabatten und Zahlungsaufsch&uuml;ben f&uuml;r gekaufte Pellets rechnen.
            </p>
          </div>
          <div class="col-sm-6">
              <img src="images/img7.jpg" id="product-img">
          </div>
      </div>
  </div>

  <div class="contact-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6" id="contact-area">
          <h3 id="contact-info">Kontaktieren Sie uns</h3>
        <div class="col-sm-6">
          <address id="section-address">Adresse
  
           <p class="addressP">Im Taubental 58,
           41468 Neuss, Deutschland</p>
          </address>
        </div>
        <div class="col-sm-6">
          <address id="section-contact">Kontakt
  
            <p class="contactP">+49 176 83864868
            roxpelletsales@gmail.com</p>
          </address>
          </div>
        </div>
      <div class="col-sm-6">
        <div class="contact-overlay">
           <form action="/email" method="POST">
            <h3 class="contact-heading">Schreiben Sie uns</h3>
            <p class="contact-P">Wir werden uns so schnell wie m&ouml;glich bei Ihnen melden.</p>
            <input type = "text" id = "name" name = "name" placeholder="Ihr Name"><br></br>
            <input type = "email" id = "email" name = "email" placeholder="Ihr E-mail Addresse"><br></br>
            <textarea class="form-control" name = "message" placeholder="Ihre Nachricht" id="contact-message" rows="9"></textarea>
            <div id = "sendMessage">
              <button type="submit" class="btn btn-success btn1 btn-lg" style="margin-left: 150px;">Senden</button>
              </div>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="footer">
    <footer class="footer">
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/sackware">Sackware</a></li>
          <li><a href="/holzpellets-kaufen">Holzpellets Kaufen</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li><a href="/lieferung">Lieferung</a></li>
          <li><a href="/qualitat">Qualit&auml;t</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <address>
          <strong>Rox Pellets</strong>
         Im Taubental 58,<br>
            41468 Neuss, Deutschland<br>
          <abbr title="Phone">P:</abbr> 
          +49 176 83864868
        </address>
       </div>
       <div class="col-sm-3">
        <ul class="list-unstyled">
          <li><p>Folgen Sie uns in sozialen Netzen:</p></li>
          <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      </footer>
      <p style="text-align: center; padding-right: 300px; padding-top: 300px; font-size: 13px; font-weight: 300;">&copy; 2020 Rox Pellets</p>
     </div>
  </div>

</body>
</html>