<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="fontawesome/js/fontawesome.min.js"></script>
  <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/images/logo.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="active" href="/">Home</a></li> 
          <li><a class="nav1"href="/holzpellets-kaufen">Holzpellets Kaufen</a></li>
          <li><a href="/sackware">Sackware</a></li>
          <li><a href="/qualitat">Qualit&auml;t</a></li>
          <li><a href="/lieferung">Lieferung</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
          <li><i class="fa fa-phone" aria-hidden="true"></i></li><p class="number">+49 176 83864868 (WhatsApp)</p>
        </ul>
      </div>
    </div>
  </nav>
  
  <div id="home">
    <div class="landing-text">
      <div class="row">
        <div class="col-sm-6">
      <h1 class="landing-heading">Holzpellets als nachhaltige Energiequelle f&uuml;r Privathaushalte und Firmen.</h1><br></br>
      <p class="landing-body">Zuverl&auml;ssige Energie, auf die unsere Kunden in wichtigen Momenten z&auml;hlen k&ouml;nnen. Ein gem&uuml;tliches Heim zu schaffen war nie leichter</p>
      <a href="/holzpellets-kaufen" class="btn btn-success btn1 btn-lg">Holzpellets Bestellen</a><a href="/sackware" class="btn btn-default btn2 btn-lg">Zu den Produkten</a>
    </div>
  </div>
 </div>
</div>

<div class="container" id="pelletInfo">
  <div class="about">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
  <h1 class="about-heading">Was sind Holzpellets?</h1> 

<p class="about-body">Holzpellets sind in unserem Alltag auf dem Vormarsch. Sie sind umweltfreundlicher als alle anderen Energiequellen.F&uuml;r viele Kunden sind sie der bevorzugte Brennstoff. Vor allem sind sie erneuerbar. F&uuml;r jeden gef&auml;llten Baum wird ein neuer gepflanzt. So leidet der Waldbestand keinen Schaden.</p>

<p class="about-body">Pellets oder Holzpellets sind komprimierte zylindrische Nebenprodukte der Holzbearbeitung (S&auml;gemehl und Sp&auml;ne aus Nadelholz). Der Prozess der Pelletbildung erfolgt bei einem Druck von etwa 300 Atm. Heizpellets sind schon heute f&uuml;r den Verbraucher g&uuml;nstiger als Gas und andere Brennstoffe. Deshalb wechseln immer mehr Menschen zum Heizen mit Pellets. Der Einbau eines geeigneten Ofens wird vom Staat gef&ouml;rdert. Auf diese Weise will man gro&szlig;e Teile der Bev&ouml;lkerung zu einem Wechsel motivieren, der keine Nachteile hat.</p>
  </div>
  <div class="col-sm-2">
  </div>
</div>
</div>
</div>

<div class="padding" id="aboutText">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <i class="fa fa-line-chart" aria-hidden="true"i></i><p class=" linechart">Hohe Qu&auml;litat</p>
        <p class="linechartP">Tr&auml;ger des ENplus-A1-Zertifikats der <p class="linechartp">PCU Deutschland.</p></p>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-tag" aria-hidden="true"></i><p class="tag">Die besten Preise</p>
        <p class="tagP">Beste Preise f&uuml;r Premium-Holzpellets in <p class="tagp">S&auml;cken.</p></p> 
      </div>
      <div class="col-sm-4">
        <div class="icardiv">
        <i class="fa fa-car" aria-hidden="true"></i><p class="car">Komfortable Lieferung</p>
        <p class="carP">Zeitgerechte Lieferung an die </p>
        <p class="carp">angegebene Adresse zu einem f&uuml;r den </p>
        <p class="carp1">Kunden passenden Zeitpunkt.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="padding1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <p><h1 class="p1">Eine Innovation, die direkt in Ihr gem&uuml;tliches Zuhause geliefert wird</h3></p>
          <p class="P1">Holzpellets sind eine umweltfreundliche, erneuerbare und zuverl&auml;ssige Energiequelle, und die Nachfrage nach Holzpellets w&auml;chst weltweit.</p>
          <p class="P2">Es werden jedoch nicht alle Pellets f&uuml;r den Heimgebrauch empfohlen. Pellets in S&auml;cken von Rox pellets bestehen ausschlie&szlig;lich aus nat&uuml;rlichen Rohstoffen und werden aus Kieferns&auml;gemehl ohne Verwendung von Klebstoff oder anderen chemischen Verbindungen hergestellt. Sie haben die h&ouml;chste ENplus-A1-Zertifizierung der PCU Deutschland erhalten und &uuml;bertreffen sogar die meisten Anforderungen der ENplus-A1-Norm. Holzpellets von Rox pellets mit ENplus-A2-Zertifikat weisen fast identische Laborkennwerte wie Produkte mit ENplus-A1-Zertifikat auf und stehen ihnen in nichts nach.</p>
         <p class="P3"> Holzpellets in S&auml;cken von Rox pellets bringen W&auml;rme und Komfort in Ihr Zuhause.</p>
      </div>
      <div class="col-sm-6" id="aboutbg">
        <img  src="/images/about.png">
      </div>
    </div>
  </div>
</div>

<div class="padding2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6" id="aboutBg2">
        <img src="/images/aboutbg2.jpg">
      </div>
      <div class="col-md-6" id="aboutbg2">
        <p><h1 class="p2">Von unserem Shop zu Ihnen.</h1></p><br></br>
        <div class="aboutp2">
        <p>In unserem Shop k&ouml;nnen Sie Holzpellets bestellen, die zu Ihnen</p><p>nach Hause oder in das Lager Ihres Betriebs geliefert werden.</p><p>Unsere Pellets werden in S&auml;cken zu je 15 kg auf Paletten</p><p>verladen und gesichert und Ihnen dann zugeliefert.</p>
        </div>
        <a href="/lieferung" class="btn btn-success btn3 btn-lg">Lieferdetails</a>
      </div>
    </div>
  </div>
</div>

<div class="contact-sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6" id="contact-area">
        <h3 id="contact-info">Kontaktieren Sie uns</h3>
      <div class="col-sm-6">
        <address id="section-address">Adresse

         <p class="addressP">Im Taubental 58,
         41468  Neuss, Deutschland</p>
        </address>
      </div>
      <div class="col-sm-6">
        <address id="section-contact">Kontakt

          <p class="contactP">+49 176 83864868
          roxpelletsales@gmail.com</p>
        </address>
        </div>
      </div>
    <div class="col-sm-6">
      <div class="contact-overlay">
          <form action="/email" method="POST">
            <h3 class="contact-heading">Schreiben Sie uns</h3>
            <p class="contact-P">Wir werden uns so schnell wie m&ouml;glich bei Ihnen melden.</p>
            <input type = "text" id = "name" name = "name" placeholder="Ihr Name"><br></br>
            <input type = "email" id = "email" name = "email" placeholder="Ihr E-mail Addresse"><br></br>
              <textarea class="form-control" name = "message" placeholder="Ihre Nachricht" id="contact-message" rows="9"></textarea>
          <div id = "sendMessage">
            <button type="submit" class="btn btn-success btn1 btn-lg" style="margin-left: 150px;">Senden</button>
            </div>
        </form>
      </div>
    </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="mx-auto">
    <p><h1 class="mx">Holen Sie ein Angebot ein!</h1></p>
    <p id="mxP">Hier erfahren Sie, wieviel Sie das Heizen mit Pellets kosten w&uuml;rde.</p>
    <p><a href="/holzpellets-kaufen" class="btn btn-success btn-lg btn4">Preis berechnen</a></p>
  </div>
</div><br></br><br></br>

<div class="container-fluid" id="footer">
  <footer class="footer">
    <div class="col-sm-3">
      <ul class="list-unstyled">
        <li><a href="/">Home</a></li>
          <li><a href="/sackware">Sackware</a></li>
          <li><a href="/holzpellets-kaufen">Holzpellets Kaufen</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li><a href="/lieferung">Lieferung</a></li>
          <li><a href="/qualitat">Qualit&auml;t</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <address>
        <strong>Rox Pellets</strong>
       Im Taubental 58,<br>
         41468 Neuss, Deutschland<br>
        <abbr title="Phone">P:</abbr> 
        +49 176 83864868
      </address>
     </div>
     <div class="col-sm-3">
      <ul class="list-unstyled">
        <li><p>Folgen Sie uns in sozialen Netzen:</p></li>
        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
    </footer>
    <p style="text-align: center; padding-right: 300px; padding-top: 300px; font-size: 13px; font-weight: 300;">&copy; 2020 Rox Pellets</p>
   </div>
</div>

</body>

</html>