<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href="/stylesheets/style.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="fontawesome/js/fontawesome.min.js"></script>
  <script>
    $('form').on('submit', (e)) => {
      e.preventDefault();

      var email = $('#email').val().trim();
      var name = $('#name').val().trim();
      var message = $('#contact-message').val().trim();

      var data = {
        email,
        name,
        message
      }

      $.post('/email', 'data', function()) {
        console.log('Server recieved data')
      }
    }
  </script>
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="images/logo.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav navbar-right">
                    <li><a class="active" href="/">Home</a></li> 
          <li><a class="nav1"href="/holzpellets-kaufen">Holzpellets Kaufen</a></li>
          <li><a href="/sackware">Sackware</a></li>
          <li><a href="/qualitat">Qualit&auml;t</a></li>
          <li><a href="/lieferung">Lieferung</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
          <li><i class="fa fa-phone" aria-hidden="true"></i></li><p class="number">+49 176 83864868  (WhatsApp)</p>
        </ul>
      </div>
    </div>
  </nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2"></div>
          <div class="col-lg-8">
<p><h2 class="bgoods-bodyH" style="margin-top: 170px;">Wie Sie unsere Pellets geliefert bekommen</h2></p>
<div class="col-lg-1"></div>
<div class="col-lg-10 bgoods-body">
<p>Auf dieser Seite erfahren Sie mehr &uuml;ber die &uuml;blichen Konditionen f&uuml;r den Pellets-Transport und in welchem Umkreis wir Holzpellets ausliefern. Falls Sie sich etwas au&szlig;erhalb der Lieferzone befinden, werden wir sicherlich eine L&ouml;sung finden, wie Sie unser Produkt beziehen k&ouml;nnen.</p>
<p>Die einfachste M&ouml;glichkeit, wie Sie zu unseren Holzpellets in S&auml;cken kommen k&ouml;nnen, ist die Selbstabholung aus unserem Lager in Neuss. Bitte vereinbaren Sie mit unseren Mitarbeitern einen Termin! Wir verladen die Paletten kostenlos auf Ihren Lkw.</p>
<div class="col-lg-1"></div>
<div class="col-lg-2"></div>
  </div>
</div>
  </div> 
</div>

<div class="padding1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <p><h1 class="p1" style="margin-left: 10px;">Lieferung von Pellets&auml;cken</h3></p>
            <p class="P1">Wenn Sie m&ouml;chten, dass Pellets an Ihr Unternehmen oder an Ihren Privathaushalt geliefert werden, sorgt unser Spediteur f&uuml;r die pünktliche Lieferung an die von Ihnen angegebene Adresse. Bitte besprechen Sie mit unseren Mitarbeitern den genauen Standort und die gew&uuml;nschte Lieferzeit.</p>
            <p class="P2">Wenn unser Lkw bei Ihnen ankommt, entladen unsere Transportmitarbeiter die Paletten und transportieren sie mit dem Palettenwagen an den von Ihnen angegebenen Ort. Kostenlose Paletten, auf denen Pelletss&auml;cke geliefert werden, sind nur zum einmaligen Gebrauch bestimmt. Sie m&uuml;ssen sie nicht aufbewahren oder zur&uuml;ckgeben, sondern k&ouml;nnen sie nach Belieben verwenden.</p>
           <p class="P3">Wir hoffen, dass Sie schon bald eine Bestellung aufgeben, damit Sie sich von der Qualit&auml;t unserer Holzpellets selbst &uuml;berzeugen können! Nat&uuml;rlich richten wir uns bei der Lieferung nach Ihrem Terminwunsch.</p>
        </div>
        <div class="col-lg-6" id="delivery-bg">
          <img  src="images/img10.png">
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <img src="images/img11.png" id="delivery-info-img">
        </div>
        <div class="col-lg-6 delivery-info">
            <p><h3 class="delivery-infoH">Der Radius f&uuml;r die Lieferung von Pellets</h3></p>
            <p>Wir k&ouml;nnen in folegende l&auml;nder liefern: Deutschland, &Ouml;sterreich und Belgien. Wir k&ouml;nnen ab 2 Paletten und mehr liefern und wir lifern ab unserem Lager in 41468 Neuss, Deutschland</p>            
            <p>Die Kosten f&uuml;r die Lieferung nach Hause finden Sie in unserem Onlineshop. Sie k&ouml;nnen uns auch per E-Mail oder Telefon kontaktieren. Unsere Mitarbeiter teilen Ihnen gerne alle Details mit.</p>
        </div>
    </div>
</div>  

<div class="contact-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6" id="contact-area">
          <h3 id="contact-info">Kontaktieren Sie uns</h3>
        <div class="col-lg-6">
          <address id="section-address">Adresse
  
           <p class="addressP">Im Taubental 58,
           41468  Neuss, Deutschland</p>
          </address>
        </div>
        <div class="col-lg-6">
          <address id="section-contact">Kontakt
  
            <p class="contactP">+49 176 83864868 
            roxpelletsales@gmail.com</p>
          </address>
          </div>
        </div>
      <div class="col-lg-6">
        <div class="contact-overlay">
          <form action="/email" method="POST">
            <h3 class="contact-heading">Schreiben Sie uns</h3>
            <p class="contact-P">Wir werden uns so schnell wie m&ouml;glich bei Ihnen melden.</p>
            <input type = "text" id = "name" name = "name" placeholder="Ihr Name"><br></br>
            <input type = "email" id = "email" name = "email" placeholder="Ihr E-mail Addresse"><br></br>
              <textarea class="form-control" name = "message" placeholder="Ihre Nachricht" id="contact-message" rows="9"></textarea>
            <div id = "sendMessage">
                <button type="submit" class="btn btn-success btn1 btn-lg" style="margin-left: 150px;">Senden</button>
              </div>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid">
    <div class="mx-auto">
      <p><h1 class="mx">Holen Sie ein Angebot ein!</h1></p>
      <p id="mxP">Hier erfahren Sie, wieviel Sie das Heizen mit Pellets kosten w&uuml;rde.</p>
      <p><a href="/holzpellets-kaufen" class="btn btn-success btn-lg btn4">Preis berechnen</a></p>
    </div>
  </div><br></br><br></br>
  
  
  <div class="container-fluid" id="footer">
    <footer class="footer">
      <div class="col-lg-3">
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/sackware">Sackware</a></li>
          <li><a href="/holzpellets-kaufen">Holzpellets Kaufen</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <ul class="list-unstyled">
          <li><a href="/lieferung">Lieferung</a></li>
          <li><a href="/qualitat">Qualit&auml;t</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <address>
          <strong>Rox Pellets</strong>
         Im Taubental 58,<br>
          41468  Neuss, Deutschland<br>
          <abbr title="Phone">P:</abbr> 
          +49 176 83864868 
        </address>
       </div>
       <div class="col-lg-3">
        <ul class="list-unstyled">
          <li><p>Folgen Sie uns in sozialen Netzen:</p></li>
          <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      </footer>
      <p style="text-align: center; padding-right: 300px; padding-top: 300px; font-size: 13px; font-weight: 300;">&copy; 2020 Rox Pellets</p>
     </div>
  </div>
  </body>
  </html>
  
