<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="fontawesome/js/fontawesome.min.js"></script>
 <link href="/stylesheets/style.css" rel="stylesheet" />
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="images/logo.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav navbar-right">
                   <li><a class="active" href="/">Home</a></li> 
          <li><a class="nav1"href="/holzpellets-kaufen">Holzpellets Kaufen</a></li>
          <li><a href="/sackware">Sackware</a></li>
          <li><a href="/qualitat">Qualit&auml;t</a></li>
          <li><a href="/lieferung">Lieferung</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
          <li><i class="fa fa-phone" aria-hidden="true"></i></li><p class="number">+49 176 83864868 (WhatsApp)</p>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8 bgoods-intro">
              <p><h2>Pellets von h&ouml;chster Qualit&auml;t</h2></p>
              <p id="bgoods-introP">Auf dieser Seite finden Sie interessante Informationen zur Zertifizierung unserer Holzpellets und deren Qualit&auml;tsmerkmalen. Dieses Produkt weist auch signifikante qualitative Unterschiede auf.</p>
          </div>
          <div class="col-sm-2"></div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
              <div class="col-sm-8">
    <p><h2 class="bgoods-bodyH">Holzpellets mit ENplus-A1 und ENplus-A2-Zertifikat</h2></p>
    <div class="col-sm-1"></div>
    <div class="col-sm-10 bgoods-body">
    <p>Unsere Holzpellets werden aus nat&uuml;rlichen Rohstoffen aus Kiefernholz hergestellt. Bei ihrer Herstellung wurden keine Bindemittel (wie z. B. Klebstoff) verwendet. Sie enthalten auch keine Verunreinigungen und Rinde. Der Asche- und Feuchtigkeitsgehalt ist ebenfalls sehr gering. Sie haben einen hohen Heizwert. Rox-ENplus-A1-Pellets sind von der PCU Deutschland nach ISO 17225-2 zertifiziert. Im t&auml;glichen Gebrauch werden Sie feststellen, dass unsere Pellets die Anforderungen des ENplus-A1-Zertifikats nicht nur erf&uuml;llen, sondern sogar &uuml;bertreffen!</p>
    <p>Rox-ENplus-A2 Pellets sind nach ISO 277225-2 zertifiziert. In vielen technischen Parametern entsprechen sie jedoch Produkten mit ENplus-A1-Zertifikat.</p>
    <div class="col-sm-1"></div>
    <div class="col-sm-2"></div>
      </div>
  </div>
      </div> 
  </div>

  <div class="container-fluid">
      <div style="overflow-x: auto;">
        <table class="table table-bordered">
            <tr>
                <td scope="col" style="font-size: 16px; padding-top: 50px; padding-bottom: 50px; font-weight: 350;">Eigenschaft</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding-top: 50px; padding-bottom: 50px; font-weight: 350;">Qualit&auml;tsanforderungen ENplus-A1</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding-top: 50px; padding-bottom: 50px; font-weight: 350; background-color: rgb(43, 41, 41); color: rgb(224, 218, 218); border: #ADADAD;">Rox Pellets ENplus-A1</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding-top: 50px; padding-bottom: 50px; font-weight: 350;">Qualit&auml;tsanforderungen ENplus-A2</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding-top: 50px; padding-bottom: 50px; font-weight: 350; background-color: rgb(43, 41, 41); color: rgb(224, 218, 218); border: #ADADAD;">Rox Pellets ENplus-A2</td>
            </tr>
            <tr>
                <td scope="col" style="font-size: 16px; padding: 13px;; font-weight: 350;">Durchmesser</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350;">6 &plusmn; 1 mm</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350; background-color: rgb(43, 41, 41); color: rgb(224, 218, 218); border: #ADADAD;">6 &plusmn; 1 mm</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350;">6 &plusmn; 1 mm</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350; background-color: rgb(43, 41, 41); color: rgb(224, 218, 218); border: #ADADAD;">6 &plusmn; 1 mm</td>
            </tr>
            <tr>
                <td scope="col" style="font-size: 16px; padding: 13px;; font-weight: 350;">Wassergehalt</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350;">&leq; 10 %</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350; background-color: rgb(43, 41, 41); color: rgb(224, 218, 218); border: #ADADAD;">&leq; 6 %</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350;">&leq; 10 %</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350; background-color: rgb(43, 41, 41); color: rgb(224, 218, 218); border: #ADADAD;">&leq; 6 %</td>
            </tr>
            <tr>
                <td scope="col" style="font-size: 16px; padding: 13px;; font-weight: 350;">Aschegehalt</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350;">&leq; 0,7 %</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350; background-color: rgb(43, 41, 41); color: rgb(224, 218, 218); border: #ADADAD;">&leq; 0,3 %</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350;">&leq; 1,2 %</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350; background-color: rgb(43, 41, 41); color: rgb(224, 218, 218); border: #ADADAD;">&leq; 0.9 %</td>
            </tr>
            <tr>
                <td scope="col" style="font-size: 16px; padding: 13px;; font-weight: 350;">Hoher Heizwert</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350;">&geq; 4,6 kWh/kg</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350; background-color: rgb(43, 41, 41); color: rgb(224, 218, 218); border: #ADADAD;">&geq; 4,6 kWh/kg</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350;">&geq; 4,6 kWh/kg</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350; background-color: rgb(43, 41, 41); color: rgb(224, 218, 218); border: #ADADAD;">&geq; 4,6 kWh/kg</td>
            </tr>
            <tr>
                <td scope="col" style="font-size: 16px; padding: 13px;; font-weight: 350;">Schwefel</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350;">&geq; 0,04 %</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350; background-color: rgb(43, 41, 41); color: rgb(224, 218, 218); border: #ADADAD;">&geq; 0,005 %</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350;">&geq; 0,04 %</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350; background-color: rgb(43, 41, 41); color: rgb(224, 218, 218); border: #ADADAD;">&geq; 0,01 %</td>
            </tr>
            <tr>
                <td scope="col" style="font-size: 16px; padding: 13px;; font-weight: 350;">Sch&uuml;ttdichte</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350;">600 - 750 kg/m3</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350; background-color: rgb(43, 41, 41); color: rgb(224, 218, 218); border: #ADADAD;">&geq; 650 kg/m3</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350;">600 - 750 kg/m3</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350; background-color: rgb(43, 41, 41); color: rgb(224, 218, 218); border: #ADADAD;">&geq; 650 kg/m3</td>
            </tr>
            <tr>
                <td scope="col" style="font-size: 16px; padding: 13px;; font-weight: 350;">Mechanische Festigkeit</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350;">&geq; 98,0 %</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350; background-color: rgb(43, 41, 41); color: rgb(224, 218, 218); border: #ADADAD;">&geq; 98,5 %</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350;">&geq; 98,0 %</td>
                <td scope="col" style="font-size: 16px; text-align: center; padding: 13px;; font-weight: 350; background-color: rgb(43, 41, 41); color: rgb(224, 218, 218); border: #ADADAD;">&geq; 98,0 %</td>
            </tr>
             </table>
          </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <img src="images/img8.png" id="bgoods-img">
          </div>
          <div class="col-sm-5">
            <p><h1 class="bgoods-landingH">Kaufen Sie hochwertige Pellets.</h1></p>
            <p class="bgoods-landingP1">Wussten Sie, dass beim Verbrennen von einer Tonne Holzpellets Rox ENplus-A1 nur 3 kg Asche &uuml;brig bleiben? Dieser Wert ist einer der besten Indikatoren, anhand derer Holzpellets klassifiziert werden k&ouml;nnen. Der Feuchtigkeitsgehalt unserer Holzpellets betr&auml;gt weniger als 6 %. Die hohe Qualit&auml;t unserer A1-Pellets gew&auml;hrleistet einen unterbrechungsfreien Betrieb mit Pellet&ouml;fen.</p>
            <p class="bgoods-landingP2">Pellets, die haupts&auml;chlich in der Industrie verwendet werden, sind von viel geringerer Qualit&auml;t. Der minimale Asche- und Feuchtigkeitsgehalt ist jedoch besonders wichtig f&uuml;r den Einsatz in privaten Haushalten. Am Ende m&ouml;chten Sie nicht, dass Ihre Familienmitglieder sch&auml;dlichen Emissionen ausgesetzt sind. Mit Rox pellets k&ouml;nnen Sie sicher sein, dass das Pellet ausschlie&szlig;lich aus Kieferns&auml;gemehl besteht und keinen Klebstoff oder andere chemische Verbindungen enth&auml;lt! Das Verbrennen eines Naturprodukts f&uuml;hrt zu gem&uuml;tlicher W&auml;rme in einem gem&uuml;tlichen Haus.</p>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>

      <div class="contact-sec">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6" id="contact-area">
              <h3 id="contact-info">Kontaktieren Sie uns</h3>
            <div class="col-sm-6">
              <address id="section-address">Adresse
      
               <p class="addressP">Im Taubental 58,
               41468  Neuss, Deutschland</p>
              </address>
            </div>
            <div class="col-sm-6">
              <address id="section-contact">Kontakt
      
                <p class="contactP">+49 176 83864868
                roxpelletsales@gmail.com</p>
              </address>
              </div>
            </div>
          <div class="col-sm-6">
            <div class="contact-overlay">
         <form action="/email" method="POST">
            <h3 class="contact-heading">Schreiben Sie uns</h3>
            <p class="contact-P">Wir werden uns so schnell wie m&ouml;glich bei Ihnen melden.</p>
            <input type = "text" id = "name" name = "name" placeholder="Ihr Name"><br></br>
            <input type = "email" id = "email" name = "email" placeholder="Ihr E-mail Addresse"><br></br>
            <textarea class="form-control" name = "message" placeholder="Ihre Nachricht" id="contact-message" rows="9"></textarea>
                <div id = "sendMessage">
                 <button type="submit" class="btn btn-success btn1 btn-lg" style="margin-left: 150px;">Senden</button>
                  </div>
              </form>
            </div>
          </div>
          </div>
        </div>
      </div>
      
      
      <div class="container-fluid">
        <div class="mx-auto">
          <p><h1 class="mx">Holen Sie ein Angebot ein!</h1></p>
          <p id="mxP">Hier erfahren Sie, wieviel Sie das Heizen mit Pellets kosten w&uuml;rde.</p>
          <p><a href="#" class="btn btn-success btn-lg btn4">Preis berechnen</a></p>
        </div>
      </div><br></br><br></br>
      
      
      <div class="container-fluid" id="footer">
        <footer class="footer">
          <div class="col-sm-3">
            <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/sackware">Sackware</a></li>
          <li><a href="/holzpellets-kaufen">Holzpellets Kaufen</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li><a href="/lieferung">Lieferung</a></li>
          <li><a href="/qualitat">Qualit&auml;t</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <address>
              <strong>Rox Pellets</strong>
             Im Taubental 58,<br>
               41468 Neuss, Deutschland<br>
              <abbr title="Phone">P:</abbr> 
             +49 176 83864868
            </address>
           </div>
           <div class="col-sm-3">
            <ul class="list-unstyled">
              <li><p>Folgen Sie uns in sozialen Netzen:</p></li>
              <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
          </footer>
          <p style="text-align: center; padding-right: 300px; padding-top: 300px; font-size: 13px; font-weight: 300;">&copy; 2020 Rox Pellets</p>
         </div>
      </div>
      </body>
      </html>