<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link href="/stylesheets/style.css" rel="stylesheet" />
  <script>
    $('form').on('submit', (e)) => {
      e.preventDefault();

      var email = $('#email').val().trim();
      var name = $('#name').val().trim();
      var message = $('#contact-message').val().trim();

      var data = {
        email,
        name,
        message
      }

      $.post('/email', 'data', function()) {
        console.log('Server recieved data')
      }
    }
  </script>
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="images/logo.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav navbar-right">
                   <li><a class="active" href="/">Home</a></li> 
          <li><a class="nav1"href="/holzpellets-kaufen">Holzpellets Kaufen</a></li>
          <li><a href="/sackware">Sackware</a></li>
          <li><a href="/qualitat">Qualit&auml;t</a></li>
          <li><a href="/lieferung">Lieferung</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
          <li><i class="fa fa-phone" aria-hidden="true"></i></li><p class="number">+49 176 83864868 (WhatsApp)</p>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8 bgoods-intro">
            <p><h2>Holzpellets Sackware</h2></p>
              <p id="bgoods-introP">Hier erfahren Sie mehr &uuml;ber die technischen Eigenschaften unserer Pellets und die Vorteile der Verpackung und Lieferung in S&auml;cken.</p>
          </div>
          <div class="col-sm-2"></div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
              <div class="col-sm-8">
    <p><h2 class="bgoods-bodyH">Kaufen Sie Pellets in S&auml;cken zu den besten Preisen.</h2></p>
    <div class="col-sm-1"></div>
    <div class="col-sm-10 bgoods-body">
    <p>Zun&auml;chst einige Fakten: Wir verpacken unsere Pellets in S&auml;cken zu je 15 kg. Sie werden auf Paletten verladen und dort fixiert. Dies sind Einwegpaletten, die wir Ihnen kostenlos zur Verf&uuml;gung stellen. Rox pellets bietet immer die besten Preise f&uuml;r Holzpellets in S&auml;cken. Pellets bestehen zu 100 % aus Nadelholz (Kiefer und Fichte). Der Durchmesser betr&auml;gt
        6 (+/- 1) mm.</p>
    <p>Unsere Holzpellets ENplus-A1 wurden nach ISO 17225-2 als h&ouml;chstes Qualit&auml;tsniveau zertifiziert, das folgende Qualit&auml;tsmerkmale umfasst: Sie sind langlebig, haben eine glatte Oberfl&auml;che, ein geringes Ma&szlig; an Feinmahlung und Asche sowie einen hohen Ascheschmelzpunkt,  dies verhindert Schlackenbildung.</p>
    <p>Wir k&ouml;nnen in folegende l&auml;nder liefern: Deutschland, &Ouml;sterreich und Belgien. Wir k&ouml;nnen ab 2 Paletten und mehr liefern und wir lifern ab unserem Lager in 41468 Neuss, Deutschland</p>
    <div class="col-sm-1"></div>
    <div class="col-sm-2"></div>
      </div>
  </div>
      </div> 
  </div>

  <div class="container-fluid bgoods-landing">
    <div class="row">
      <div class="col-sm-6">
        <img src="images/img8.png" id="bgoods-img">
      </div>
      <div class="col-sm-5">
        <p><h1 class="bgoods-landingH">Die Vorteile von Holzpellets in S&auml;cken</h1></p>
        <p class="bgoods-landingP1">Vor allem m&ouml;chten wir auf die nicht zu untersch&auml;tzende Handlichkeit der Verpackung in S&auml;cke hinweisen. Wenn Sie Ihre Zentralheizung mit Pellets betreiben, oder einen Pellets Prim&auml;rofen haben, brauchen Sie im Laufe eines Jahres viel Brennstoff. Nichts wird mehr versch&uuml;ttet oder staubig, wenn Sie an einem kalten Wintertag Ihren Pellets-Tank auff&uuml;llen. Schmutz und schweres Heben wie bei Kohlenheizungen sind nicht mehr erforderlich.</p>
        <p class="bgoods-landingP2">Wir k&ouml;nnen in folegende l&auml;nder liefern: Deutschland, &Ouml;sterreich und Belgien. Wir k&ouml;nnen ab 2 Paletten und mehr liefern und wir lifern ab unserem Lager in 41468 Neuss, Deutschland</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>

  <div class="container-fluid bgoods">
      <div class="row">
          <div class="col-sm-6">
              <p class="bgoods-landing2">Sie erhalten von uns immer die h&ouml;chste Qualit&auml;t, die gem&auml;&szlig; ENplus-A1 oder ENplus-A2 zertifiziert wurde. Dies bietet einen hohen Heizwert und es gibt keine chemischen Zus&auml;tze, die zu sch&auml;dlichen Emissionen f&uuml;hren k&ouml;nnen. Stattdessen werden unsere Pellets aus duftendem Kiefernholz hergestellt. Die Abwesenheit von Feuchtigkeit im Granulat ist ebenfalls garantiert. Das Gewicht von 15-kg-S&auml;cken ist ideal f&uuml;r den t&auml;glichen Gebrauch. Jetzt k&ouml;nnen Sie den Ofen oder die Pellets bequem steuern und die erforderliche Menge Pellets neben dem Ofen aufbewahren. Die Arbeit mit einem reinen und duftenden Produkt, das nat&uuml;rlich ist und das Ergebnis neuer Technologien ist, erleichtert Ihnen den Alltag.
                Holzpellets kaufen</p>
              <a href="/holzpellets-kaufen" class="btn btn-success btn-lg btn7">Holzpellets kaufen</a>  
          </div>
          <div class="col-sm-6">
              <img src="images/about.png" id="bgoods-img2">
          </div>
      </div>
  </div>

  <div class="contact-sec">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6" id="contact-area">
          <h3 id="contact-info">Kontaktieren Sie uns</h3>
        <div class="col-sm-6">
          <address id="section-address">Adresse
  
           <p class="addressP">Im Taubental 58,
           41468  Neuss, Deutschland</p>
          </address>
        </div>
        <div class="col-sm-6">
          <address id="section-contact">Kontakt
  
            <p class="contactP">+49 176 83864868
           roxpelletsales@gmail.com</p>
          </address>
          </div>
        </div>
      <div class="col-sm-6">
        <div class="contact-overlay">
            <form action="/email" method="POST">
            <h3 class="contact-heading">Schreiben Sie uns</h3>
            <p class="contact-P">Wir werden uns so schnell wie m&ouml;glich bei Ihnen melden.</p>
            <input type = "text" id = "name" name = "name" placeholder="Ihr Name"><br></br>
            <input type = "email" id = "email" name = "email" placeholder="Ihr E-mail Addresse"><br></br>
            <textarea class="form-control" name = "message" placeholder="Ihre Nachricht" id="contact-message" rows="9"></textarea>
            <div id = "sendMessage">
              <button type="submit" class="btn btn-success btn1 btn-lg" style="margin-left: 150px;">Senden</button>
              </div>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid">
    <div class="mx-auto">
      <p><h1 class="mx">Holen Sie ein Angebot ein!</h1></p>
      <p id="mxP">Hier erfahren Sie, wieviel Sie das Heizen mit Pellets kosten w&uuml;rde.</p>
      <p><a href="#" class="btn btn-success btn-lg btn4">Preis berechnen</a></p>
    </div>
  </div><br></br><br></br>
  
  
  <div class="container-fluid" id="footer">
    <footer class="footer">
      <div class="col-sm-3">
        <ul class="list-unstyled">
           <li><a href="/">Home</a></li>
          <li><a href="/sackware">Sackware</a></li>
          <li><a href="/holzpellets-kaufen">Holzpellets Kaufen</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li><a href="/lieferung">Lieferung</a></li>
          <li><a href="/qualitat">Qualit&auml;t</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <address>
          <strong>Rox Pellets</strong>
         Im Taubental 58,<br>
          41468  Neuss, Deutschland<br>
          <abbr title="Phone">P:</abbr> 
          +49 176 83864868
        </address>
       </div>
       <div class="col-sm-3">
        <ul class="list-unstyled">
          <li><p>Folgen Sie uns in sozialen Netzen:</p></li>
          <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
      </footer>
      <p style="text-align: center; padding-right: 300px; padding-top: 300px; font-size: 13px; font-weight: 300;">&copy; 2020 Rox Pellets</p>
     </div>
  </div>
  </body>
  </html>
  